.catalog__form {
  padding: 37px 0 0;
  background-color: $color-whisper;
}

.catalog__form-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog__form-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 13px;
  margin: 0;
  padding: 0;
}
