.catalog__form {
  padding: 37px 0 0;
  background-color: $color-whisper;

  @include vp-767 {
    padding: 20px 0 0 0;
    margin: 0 0 20px;
  }
}

.catalog__form-group {
  padding: 0;
  margin: 0;
  border: none;
}

.catalog__form-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 13px;
  margin: 0;
  padding: 0;

  @include vp-1023 {
    flex-direction: row;
    justify-content: space-between;
    gap: 19px;
  }
  @include vp-767 {
    flex-direction: row;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 19px;
  }

  // .catalog__form-item {
  //   @include vp-767 {
  //     background-color: $color-burnt-orange;
  //     border-radius: 30px;
  //   }
  // }
}
