.custom-radio {

  .custom-radio__field:checked + .custom-radio__label {
    //border: 1px solid $color-white;
    background: $color-white;
  }

  &__label {
    //height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding:  9px 9px 5px 30px;

    cursor: pointer;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-tangaroa;
  }
}
