.custom-input {
  position: relative;

  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: none;
  }

  &__search {
    width: 100%;
    background-color: $color-whiteSmoke;
    border: transparent;
    border-radius: 30px;
    padding: 20px 10px 19px 44px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-tangaroa;
    outline: transparent;
    transition: background-color $transition-300;

    &:hover {
      background-color: $color-whisper;
    }

    &:hover .custom-input__btn {
      background-color: $color-whisper;
    }

    &:hover + .custom-input__btn .custom-input__img {
      color: $color-burnt-orange;
    }
  }

  &__btn {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;

    &:hover .custom-input__img {
      color: $color-burnt-orange;
    }

    &:active .custom-input__img {
      color: $color-dark-gray;
    }
  }

  &__img {
    color: $color-dark-gray;
    transition: color $transition-300;
  }
}
