.header {
  padding: 15px 0 0;

      @include vp-767 {
      padding: 13px 0;
    }

  &__wrapper {
    margin: 0px -30px;
    display: grid;
    grid-template-columns: 289px 1fr;
    gap: 47px;

    @include vp-1023 {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include vp-767 {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    // height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid $color-whiteSmoke;
    margin: -15px 0 0;

    @include vp-1023 {
      margin: 0;
    }

    @include vp-767 {
      border-right: none;
      margin: 0;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover .header__logo-img {
      color: $color-international-orangee;
    }
    &:hover .header__logo-text {
      color: $color-black-pear;
    }
  }

  &__logo-img {
    color: $color-burnt-orange;
    transition: color $transition-300;

    @include vp-767 {
      width: 27px;
      height: 23px;
    }
  }

  &__logo-text {
    color: $color-tangaroa;
    transition: color $transition-300;
  }

  &__center {
    height: 100%;
    display: grid;
    grid-template-columns: 798px 246px;
    gap: 30px;
    align-items: end;

    @include vp-1023 {
      grid-template-columns: 1fr 246px;
      gap: 0;
    }

    @include vp-767 {
      display: flex;
      align-items: flex-end;
    }
  }

  &__form {
    @include vp-767 {
      display: none;
    }
  }
  &__user {
    //max-width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-btn {
    position: relative;
    width: 100%;
    background-color: $color-whiteSmoke;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 5px 10px 5px 13px;
    transition: background-color $transition-300;

    &:hover {
      background-color: $color-whisper;
    }

    &:hover .header__user-icon,
    &:active .header__user-icon {
      color: $color-international-orangee;
    }

    &:active {
      background-color: $color-dark-gray;
    }

    &:hover,
    &:focus-visible {
      .header__user-text::after {
        transform: scale(1);
      }
    }

    @include vp-1023 {
    }

    @include vp-767 {
      background-color: transparent;

      &:hover {
        background-color: initial;
      }

      &:active .header__user-text {
        color: $color-international-orangee;
      }
      &:active .header__user-img {
        border: 1px solid $color-international-orangee;
        border-radius: 50%;
      }
    }
  }

  &__user-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-nero;
    position: relative;

    @include vp-767 {
      font-size: 12px;
    }

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform $transition-300;
    }
  }

  &__user-img {
    @include vp-767 {
      width: 25px;
      height: 25px;
    }
  }

  &__user-icon {
    color: $color-burnt-orange;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);

    @include vp-767 {
      display: none;
    }
  }
  &__card {
    width: 100%;
    display: none;
  }
}
