.header {
  // padding: 15px 0 0;

  &__wrapper {
    margin: 0px -25px;
    display: grid;
    grid-template-columns: 289px 1fr;
    gap: 47px;
  }

  &__logo {
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid $color-whiteSmoke;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover .header__logo-img {
      color: $color-international-orangee;
    }
    &:hover .header__logo-text {
      color: $color-black-pear;
    }
  }

  &__logo-img {
    color: $color-burnt-orange;
    transition: color $transition-300;
  }

  &__logo-text {
    color: $color-tangaroa;
    transition: color $transition-300;
  }

  &__center {
    height: 100%;
    display: grid;
    grid-template-columns: 798px 246px;
    gap: 30px;
    align-items: end;
  }
  &__user {
   //max-width: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-btn {
    position: relative;
    width: 100%;
    background-color: $color-whiteSmoke;
    display: flex;
    gap: 8px;
    align-items: center;
    // display: grid;
    // align-items: center;
    // grid-template-columns: 1fr 16px;
    // gap: 94px;
    padding: 5px 10px 5px 13px;
    transition: background-color $transition-300;

    &:hover {
      background-color: $color-whisper;
    }

    &:hover .header__user-icon,
    &:active .header__user-icon {
      color: $color-international-orangee;
    }

    &:active {
      background-color: $color-dark-gray;
    }

    &:hover,
    &:focus-visible {
      .header__user-text::after {
        transform: scale(1);
      }
    }
  }

  &__user-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-nero;
    position: relative;

    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: currentColor;
      position: absolute;
      left: 0;
      bottom: 0;
      transform: scale(0, 1);
      transform-origin: left;
      transition: transform $transition-300;
    }
  }

  &__user-icon {
    color: $color-burnt-orange;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
  }
}
