.player {
  border-top: 1px solid $color-whisper;
  &__wrapper {
    display: grid;
    align-items: end;
    grid-template-columns: 434px 681px 97px;
    gap: 84px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: $color-white;
    background: -moz-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    // background: -webkit-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
    //background: linear-gradient(135deg, #bb71f3 0%, #3d4d91 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &__fail {
    display: flex;
    padding: 14px 8px;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__top-title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-nero;
  }

  &__top-icon {
    color: $color-burnt-orange;
  }

  &__info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-dark-gray;
  }

  /* Controls */

  &__controls {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  /* Loading */
  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    background-color: #ef5126;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
    display: none;
  }
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  &__controlsOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    width: 100%;
    height: 70px;
    bottom: 3%;
  }
  &__controlsInner {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__btn {
    cursor: pointer;
    opacity: 0.9;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    -webkit-user-select: none;
    user-select: none;
    transition: opacity $transition-300;

    &:hover {
      opacity: 1;
      filter: drop-shadow(1px 2px 2px $color-burnt-orange);
    }

    &#playBtn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-dark-gray;
      left: 50%;
    }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__controlsProgress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__timer,
  &__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: $color-dark-gray;
  }
  #pauseBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-dark-gray;
    left: 50%;
    display: none;
  }
  /* Progress */
  #waveform {
    width: 600px;
    height: 20px;
    position: absolute;
    left: 35px;
    margin: -15% auto;
    display: block;
    cursor: pointer;
    opacity: 0.8;
    -webkit-user-select: none;
    user-select: none;
  }
  #waveform:hover {
    opacity: 1;
  }
  #bar {
    width: 600px;
    height: 2px;
    background-color: $color-whisper;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    opacity: 0.9;
  }
  #progress {
    position: absolute;
    left: 35px;
    width: 600px;
    height: 2px;
    transform: translateY(50%);
    background-color: $color-burnt-orange;
    z-index: -1;
  }

  //   /* Plylist */
  //   #playlist {
  //     width: 100%;
  //     height: 100%;
  //     // position: absolute;
  //     top: 0;
  //     left: 0;
  //     background-color: rgba(0, 0, 0, 0.5);
  //     display: none;
  //   }
  //   #list {
  //     width: 100%;
  //     height: 100%;
  //     //  position: absolute;
  //     top: 0;
  //     left: 0;
  //     display: -webkit-box;
  //     display: -ms-flexbox;
  //     display: flex;
  //     -webkit-box-orient: vertical;
  //     -webkit-box-direction: normal;
  //     -ms-flex-direction: column;
  //     flex-direction: column;
  //     -webkit-box-pack: center;
  //     -ms-flex-pack: center;
  //     justify-content: center;
  //     -webkit-box-align: center;
  //     -ms-flex-align: center;
  //     align-items: center;
  //   }
  //   .list-song {
  //     width: 100%;
  //     height: 120px;
  //     font-size: 50px;
  //     line-height: 120px;
  //     text-align: center;
  //     font-weight: bold;
  //     color: #fff;
  //     text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  //   }
  //   .list-song:hover {
  //     background-color: rgba(255, 255, 255, 0.1);
  //     cursor: pointer;
  //   }

  /* Volume */

  &__volume {
    display: flex;
    position: relative;
    align-items: center;
    
    gap: 9px;
    margin: 0 0 20px;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  }
  //   #volume {
  //     //  position: absolute;
  //     touch-action: none;
  //     user-select: none;
  //     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  //     display: block;
  //   }
  &__bar-volume {
    height: 2px;
    background-color: $color-burnt-orange;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
  }
  #barEmpty {
    width: 72px;
    background-color: $color-whisper;
    box-shadow: none;
    cursor: pointer;
  }
  #barFull {
     width: 90%;
  }
  #sliderBtn {
    width: 12px;
    height: 12px;
    position: absolute;
    right: 93.5%;
    transform: translateX(50%);
    background-color: $color-burnt-orange;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    border-radius: 25px;
    cursor: pointer;
  }

  /* Fade-In */
  .fadeout {
    -webkit-animation: fadeout 0.5s;
    -ms-animation: fadeout 0.5s;
    animation: fadeout 0.5s;
  }
  .fadein {
    -webkit-animation: fadein 0.5s;
    -ms-animation: fadein 0.5s;
    animation: fadein 0.5s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-ms-keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
