.player {
  border-top: 1px solid $color-whisper;
  &__wrapper {
    display: grid;
    align-items: end;
    grid-template-columns: 434px 681px 97px;
    gap: 84px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: $color-white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  &__fail {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 6px 7px;
    gap: 10px;
  }

  &__info {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__top-title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-nero;
  }

  &__top-icon {
    color: $color-burnt-orange;
  }

  &__info-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: $color-dark-gray;
  }

  /* Controls */

  &__controls {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  /* Loading */
  #loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    background-color: #ef5126;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
    display: none;
  }
  @-webkit-keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0;
    }
  }
  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }

  &__controlsInner {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__btn {
    cursor: pointer;
    opacity: 0.9;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.33));
    -webkit-user-select: none;
    user-select: none;
    transition: opacity $transition-300;

    &:hover {
      opacity: 1;
      filter: drop-shadow(1px 2px 2px $color-burnt-orange);
    }

    &#playBtn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-dark-gray;
      left: 50%;
    }

    &#pauseBtn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $color-dark-gray;
      left: 50%;
      display: none;
    }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__controlsProgress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
  &__timer,
  &__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: $color-dark-gray;
  }

  /* Progress */
  &__waveform {
    width: 600px;
    height: 20px;
    position: absolute;
    left: 35px;
    margin: -15% auto;
    display: block;
    cursor: pointer;
    opacity: 0.8;
    -webkit-user-select: none;
    user-select: none;
  }
  &__waveform:hover {
    opacity: 1;
  }
  &__bar {
    width: 600px;
    height: 2px;
    background-color: $color-whisper;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
    opacity: 0.9;
  }
  &__progress {
    position: absolute;
    left: 35px;
    width: 600px;
    height: 2px;
    transform: translateY(50%);
    background-color: $color-burnt-orange;
    z-index: -1;
  }

  &__volume {
    display: flex;
    height: 16px;
    gap: 9px;
    margin: 0 0 18px;
    align-items: center;
  }

  &__volume-slider {
    -webkit-appearance: none; /* Скрытие стандартных стилей */
    width: var(--progress, 0%);
    width: 72px;
    height: 4px;
    border-radius: 5px;
    background: $color-whisper 30%;
    outline: none;
  }

  /* Стилизация ползунка (кружка) */
  &__volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: $color-burnt-orange;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &__volume-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: $color-burnt-orange;
    border-radius: 50%;
    cursor: pointer;
  }

  &__progress-track {
    position: relative;
    display: flex;
  }

  &__progressBar {
    position: absolute;
    border-radius: 5px;
    width: 0%;
    height: 4px;
    background: $color-burnt-orange;
    //transition: width 0.3s;
  }
}
