// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-tangaroa:  #11253D;
$color-whiteSmoke: #F5F5F5;
$color-burnt-orange:  #FC6D3E;
$color-dark-gray:  #AAAAAA;
$color-nero:  #171717;
$color-dark-Gray:  #A4A4A4;
$color-whisper: #E8E8E8;

// Typography

$ff-actor: "Actor", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition
$transition: ease-in 0.3s;